@import "tailwindcss";

:root {
  --rhoam-coral: #FF5A5F;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
  background: white;
}

.normal-pin {
  width: 14px;
  height: 14px;
  background: coral;
  border-radius: 50%;
}

.featured-pin {
  width: 18px;
  height: 18px;
  background: coral;
  border-radius: 50%;
  box-shadow: 0 0 12px 4px rgba(255, 127, 80, 0.6);
  border: 2px solid white;
}

.price-bubble {
  display: inline-block;
  background: #ff5a5f;            /* Airbnb coral */
  color: white;
  padding: 8px 14px;
  border-radius: 999px;           /* pill shape */
  font-weight: 700;
  font-size: 14px;
  white-space: nowrap;            /* prevents breaking */
  box-shadow: 0 3px 10px rgba(0,0,0,0.25);
  
}

.custom-price-marker {
  background: none;
  border: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* preview-card */
.preview-card {
  position: fixed;
  bottom: 30px;
  left: 35%;
  transform: translateX(-50%);
  width: 360px;
  background: white;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 20px 60px rgba(0,0,0,0.25);
  z-index: 2000;
  cursor: pointer;
}

.preview-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.preview-card .info {
  padding: 14px;
}

.preview-card h3 {
  font-size: 16px;
  margin-bottom: 6px;
}

.preview-card button {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #ff5a5f;
  color: white;
  font-weight: 600;
}

@keyframes slideUp {
  from { transform: translate(-50%, 20px); opacity: 0; }
  to { transform: translate(-50%, 0); opacity: 1; }
}